body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  width: 15%;
  justify-content: space-around;
}

.shopItems {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.tile {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.shopSection {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
