body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#home {
  font-size: 3rem;
  font-weight: 700;
}

#shop,
#cart {
  font-size: 1.25rem;
  padding: 1rem;
}

#shop:hover,
#cart:hover {
  background-color: #000000ba;
}

#cart {
  display: flex;
  align-items: center;
}

#cart > img {
  margin-right: 5px;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

.links {
  display: flex;
  width: 15%;
  justify-content: space-around;
}

.shopItems {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  border-radius: 5px;
}

.tile {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 13px #bdbdbd45;
}

.shopSection {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItems {
  background-color: #eceff1;
}

.cartElement {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.cartImg {
  width: 10%;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalAmount {
  width: 100%;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.priceCartContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.removeBtn {
  background-color: #ffffff;
  border: 1px #ffffff;
  font-size: 1.25rem;
  width: 35px;
  height: 35px;
  margin: 0 1rem;
}

.removeBtn:hover {
  background-color: #ff262670;
}

h1 {
  margin-top: 0;
}

#cartIcon {
  height: 24px;
  width: 24px;
}
